<div class="row">
  
  <div class="span2">
    
  <% if vote = current_user.voted(@story) %>
    <%= link_to [@story, vote], class: 'btn btn-primary', method: :delete do %>
      <i class="fa fa-thumbs-up"></i>TrueStory
    <% end %>
  <% else %>
    <%= link_to [@story, Vote.new], class: 'btn btn-primary', method: :post do %>
      <i class="fa fa-thumbs-up"> </i>&nbsp; TrueStory
    <% end %>
  <% end %>
  <strong><%= @story.points %></strong>
  </div> 
</div>